
.header {
    align-content: center;
    align-self: center;
    list-style-type: none;
    background-color: #eeeeee;
    padding: 15px;
    padding-left: 20px;
    text-align: center;
    width: 100%;
    float: none;
    color: #363636;
}

.header span{
    color:#5e5d5d;
}

.listaEmPe ul{
    list-style-type: none;
}

.listaEmPe{
    text-decoration: none;
    list-style-type: none;
    align-content: center;
    align-items: center;
    align-self: center;
}

.listaDeitada {
    align-content: center;
    align-self: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3f3f3f;
    text-decoration: none;
    border: snow;
}

.listaDeitada li {
    float: left;
    margin: 1px;
    width: 99%;
}

.listaDeitada li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    
}

.listaDeitada li a:hover {
    background-color: #333333;
}

.itemLista {
    width: 55%;
    padding: 2px;
    align-content: inherit;
    align-self: auto;
    background-color: #ebe0e0;
}

.itemLista button {
	padding : 8px;
    margin : 10px;
    border-radius: 1px;
}

.itemLista p {
    padding: 5px;
    margin: 2px;
    
}

.itemLista p:hover{
    background-color: #d6cdcd;
}
